<main>
  <app-learning-resources />

  <hr />

  <app-auth />
  <!-- @if(isAdmin()){
    <p>Only admins should see this!</p>
  } -->
    <!-- <ng-template appAuth="admin">
      <p >Only admins should see this!</p>
    </ng-template> -->
    <p *appAuth="'admin'" class="protected-content admin">Only admins should see this!</p>
    <p *appAuth="'user'" class="protected-content unauthenticated">Regular user should see this!</p>
    <p *appAuth="'guest'" class="protected-content authenticated">Guest user should see this!</p>
    <!-- * just add the ng-template in  backgroud: it is just a syntactic sugar , but using * also makes the amdin as typescript valye 
     not as string so we need to again using single quoate to make it string-->
</main>
